<body>

    <div id="mySideMenu" class="sidemenu" onmouseover="toggleSideMenu()" onmouseout="toggleSideMenu()">
        <a href="/"><span><i class="material-icons">person</i><span class="icon-text">Logout</span></a><br>
        <a href="/frontpage"><span><i class="material-icons">home</i><span class="icon-text">Home</span></a><br>
        <a href="/getStarted"><span><i class="material-icons">arrow_right</i><span class="icon-text">0. Get
                    started!</span></a><br>
        <a href="/firstServer"><span><i class="material-icons">arrow_right</i><span class="icon-text">1. First
                    Server</span></a><br>
        <a href="/restAPI"><span><i class="material-icons">arrow_right</i><span class="icon-text">2.
                    REST API</span></a><br>
        <a href="/firstPage"><span><i class="material-icons">arrow_right</i><span class="icon-text">3.
                    HTML</span></a><br>
        <a href="/loadHTML"><span><i class="material-icons">arrow_right</i><span class="icon-text">4. Load HTML</span></a><br>
    </div>